body {
    margin: 0;
    padding: 0;
}

.login-header {
    height: 7vh;
    border-bottom: 2px solid lightgray;
    display: flex;
}

.login-header-logo {
    width: 150px;
    height: 40px;
    margin: auto auto auto 20%;
}

.login-header-logo:hover {
    cursor: pointer;
}

.login-wrapper {
    text-align: center;
    border: 1px solid lightgray;
    width: 30vw;
    height: 50vh;
    margin: 6vh auto auto;
    border-radius: 10px;
}

.login-form {
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 30vh;
}

.login-label {
    font-size: 2em;
    display: block;
    margin-top: 2vh;
}

.login-username-input-wrapper {
    display: flex;
    width: 70%;
    height: 5vh;
    margin: 3vh auto auto;
    border: 1px solid lightgray;
}

.login-username-input-span {
    margin: auto auto auto 1vw;
}

.login-username-input {
    border: none;
    outline: none;
    width: 85%;
}

.login-submit-button {
    font-size: 1em;
    margin-top: 3vh;
    height: 5vh;
    width: 70%;
    border-radius: 30px;
    color: white;
}

